﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        .table {
            background-color: white;
            overflow: hidden;
            border-radius: 10px;
            border: solid;
            box-shadow: 0 5px 10px;
            width: 1400px;
            margin-left: -125px;
        }
    </style>
</head>
<body>
  <input type="file" (change)="onFileChange($event)" multiple="false" />
  <table class="table">
    <tbody>
      <tr *ngFor="let row of data">
        
        <td *ngFor="let val of row; let i = index" [attr.data-index]="i">
            <div>{{val}}</div>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="export()">Export!</button>

</body>
</html>
